<h1>House of Noodles - Footer</h1>
<ul>
  <li>Order Status</li>
  <li>About Us</li>
  <li>Contact Us</li>
  <li>Terms of Service</li>
  <li>Privacy Policy</li>
  <li>Address & Phone Number</li>
</ul>
