<p>
  <strong><%= name %></strong>
  <br/> <strong>Address:</strong> <%= address %>
  <br/> <strong>Phone number:</strong> <%= phone_number %>
</p>
<ul>
  <li>Order Status</li>
  <li>About Us</li>
  <li>Contact Us</li>
  <li>Terms of Service</li>
  <li>Privacy Policy</li>
</ul>
