<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">
    <img class="logo" src="/images/house-of-noodles.svg" />
    <%=name%>
  </a>
  <button id='cart-button' class='navbar-right btn btn-lg btn-primary'>Cart</button>
</nav>

<div class='shopping-cart'>
  <h2>Your Cart</h2>
  <main class='cart-body'>
    <div class='cart-item' data-dish='id'>
    </div>
  </main>
  <footer>
    <h4>Total Price:</h4>
    <p><strong><span class='cart-price'>$0.00</span></strong></p>
    <form class='cart-submit'>
      <label>Phone number:</label><br/>
      <input type='text' class='form-control' name='phone' placeholder='1-250-XXX-XXXX'>
      <button class='btn btn-success' type='submit'>Submit Order</button>
    </form>
    <button class='cart-clear btn btn-danger'>Empty Cart</button>
  </footer>
</div>
