<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>House of Noodles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/vendor/normalize-4.1.1.css' type='text/css' />
    <link rel='stylesheet' href='/vendor/border-box.css' type='text/css' />
    <link rel='stylesheet' href='/vendor/bootstrap.min.css' type='text/css' />
    <link rel='stylesheet' href='/styles/main.css' type='text/css' />

    <script type='text/javascript' src='/vendor/jquery-3.0.0.js'></script>
  </head>


<body>

         <header>
    <% include ./partials/_header %>
  </header>


 <main class='container'>
      <section class='about-us'>
        <h1>About Us</h1>
          <p> Lorem ipsum dolor amet green juice woke tacos taiyaki. Sartorial pitchfork venmo, swag chartreuse intelligentsia pug activated charcoal unicorn brunch taiyaki asymmetrical. IPhone gluten-free gentrify pok pok cold-pressed selvage. Scenester tacos pour-over yuccie gastropub literally vegan distillery wayfarers. Woke tousled godard umami four dollar toast cred hammock stumptown lo-fi cloud bread subway tile. Pickled polaroid scenester live-edge drinking vinegar truffaut hella mlkshk whatever. Godard waistcoat messenger bag trust fund, 8-bit snackwave craft beer direct trade asymmetrical cliche poke taiyaki. </p>

         <p> Deep v celiac kitsch keffiyeh. Put a bird on it chartreuse chicharrones actually deep v waistcoat quinoa. Raw denim lyft tofu, artisan shoreditch yuccie disrupt. Snackwave venmo pitchfork, shabby chic vinyl yuccie try-hard locavore artisan keffiyeh franzen tote bag.</p>

          <p>Cloud bread palo santo gentrify locavore salvia. Organic ugh prism, yuccie freegan vape photo booth hashtag unicorn small batch four loko. Next level bitters humblebrag, enamel pin four dollar toast brooklyn godard polaroid organic mixtape messenger bag church-key copper mug. Tumeric fingerstache crucifix ugh austin twee keytar knausgaard lomo migas. Lomo wolf brunch, man braid cray PBRB celiac activated charcoal kinfolk DIY. </p>

          <p> Gluten-free woke literally master cleanse brooklyn organic, migas gentrify tbh intelligentsia before they sold out cloud bread hot chicken echo park four loko. Chambray austin swag taiyaki VHS tattooed, you probably haven't heard of them franzen raw denim seitan vegan cardigan portland adaptogen. Tumblr copper mug disrupt art party, dreamcatcher pitchfork master cleanse semiotics sartorial fashion axe gastropub sustainable iceland. 3 wolf moon ugh iceland, iPhone pour-over +1 snackwave craft beer banh mi. Man braid small batch fanny pack mlkshk pour-over. Semiotics brooklyn prism ramps poutine, pitchfork umami pok pok forage bespoke cliche YOLO vinyl literally. Disrupt cronut hexagon seitan, fanny pack meditation PBRB coloring book fingerstache keytar cliche tilde actually vape trust fund.</p>

          <p>Heirloom wolf drinking vinegar skateboard lomo schlitz butcher tumeric la croix you probably haven't heard of them 90's YOLO vaporware. Tote bag tumblr pork belly photo booth gluten-free. Selvage cred unicorn godard, activated charcoal plaid waistcoat. Jean shorts vape snackwave ennui pinterest chartreuse. Hashtag wayfarers activated charcoal, palo santo narwhal 3 wolf moon four dollar toast cliche occupy kinfolk banh mi shoreditch vexillologist four loko. Yr hoodie slow-carb street art deep v. Hashtag vexillologist helvetica marfa retro quinoa fam chillwave plaid coloring book raw denim prism activated charcoal franzen. </p>

          <p>Oh. You need a little dummy text for your mockup? How quaint. </p>

          <p> I bet you’re still using Bootstrap too… </p>


      </section>
    </main>


    <footer>
      <% include ./partials/_footer %>
    </footer>

    <script type='text/javascript' src='/scripts/menu_functions_compiled.js'></script>
    <script type='text/javascript' src='/scripts/cart_functions_compiled.js'></script>
    <script type='text/javascript' src='/scripts/app_compiled.js'></script>
</body>
