<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>House of Noodles</title>

    <link rel='stylesheet' href='/vendor/normalize-4.1.1.css' type='text/css' />
    <link rel='stylesheet' href='/vendor/border-box.css' type='text/css' />
    <link rel='stylesheet' href='/styles/bootstrap.min.css' type='text/css' />
    <link rel='stylesheet' href='/styles/layout.css' type='text/css' />

    <script type='text/javascript' src='/vendor/jquery-3.0.0.js'></script>
  </head>
  <body>
    <% include ./partials/_header %>
    <main>
      <h1>Dishes</h1>
      <section class='menu container'>
      </section>
    </main>
    <footer>
      <% include ./partials/_footer %>
    </footer>
    <script type='text/javascript' src='/scripts/menu_functions.js'></script>
    <script type='text/javascript' src='/scripts/cart_functions.js'></script>
    <script type='text/javascript' src='/scripts/app.js'></script>
  </body>
</html>
