<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <title>House of Noodles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/vendor/normalize-4.1.1.css' type='text/css' />
    <link rel='stylesheet' href='/vendor/border-box.css' type='text/css' />
    <link rel='stylesheet' href='/vendor/bootstrap.min.css' type='text/css' />
    <link rel='stylesheet' href='/styles/main.css' type='text/css' />

    <script type='text/javascript' src='/vendor/jquery-3.0.0.js'></script>
  </head>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>

    <main class='container'>
      <section class='menu'>
        <h1>Dishes</h1>
      </section>
    </main>

    <footer>
      <% include ./partials/_footer %>
    </footer>

    <script type='text/javascript' src='/scripts/menu_functions_compiled.js'></script>
    <script type='text/javascript' src='/scripts/cart_functions_compiled.js'></script>
    <script type='text/javascript' src='/scripts/app_compiled.js'></script>
  </body>
</html>
