<!DOCTYPE html>
<html lang='en'>
  <% include ./partials/_head %>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>

    <main class='container'>
      <section class='menu'>
        <h1>Dishes</h1>
      </section>
    </main>

    <footer>
      <% include ./partials/_footer %>
    </footer>

    <script type='text/javascript' src='/scripts/menu_functions_compiled.js'></script>
    <script type='text/javascript' src='/scripts/cart_functions_compiled.js'></script>
    <script type='text/javascript' src='/scripts/app_compiled.js'></script>
  </body>
</html>
