<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>House of Noodles</title>

    <link rel='stylesheet' href='/vendor/normalize-4.1.1.css' type='text/css' />
    <link rel='stylesheet' href='/vendor/border-box.css' type='text/css' />
    <link rel='stylesheet' href='/styles/bootstrap.min.css' type='text/css' />
    <link rel='stylesheet' href='/styles/layout.css' type='text/css' />

    <script type='text/javascript' src='/vendor/jquery-3.0.0.js'></script>
  </head>
  <body>
    <header>
      <% include ./partials/_header %>

      <!-- shopping cart -->
      <section class='shopping-cart'>
        <header>
          <h1>Your Cart</h1>
        </header>
        <main class='cart-body'>
          <ul class='cart-list'>

          </ul>
        </main>
        <footer>
          <h5>Total Price:</h5>
          <span class='cart-price'>$30.00</span>
          <form class='cart-submit'>
            Phone number: <input type='text' name='phone' placeholder='1-250-XXX-XXXX'>
            <br><input type='submit' value='Submit Order'>
          </form>
          <button class='cart-clear'>Empty Cart</button>
        </footer>
      </section>

    </header>

    <main>
      <h1>Dishes</h1>
      <section class='menu container'>
      </section>
    </main>

    <footer>
      <% include ./partials/_footer %>
    </footer>

    <script type='text/javascript' src='/scripts/menu_functions.js'></script>
    <script type='text/javascript' src='/scripts/cart_functions.js'></script>
    <script type='text/javascript' src='/scripts/app.js'></script>
  </body>
</html>
