<!DOCTYPE html>
<head>
</head>
<body>
  <p>WELCOME TO ORDERS</p>
<form action='/checkout' method='POST'>
      <label for="phone_number">Phone:</label>
      <input id="phone_number" type="text" name="phone_number">
      <label for="cost">Cost:</label>
      <input id="cost" type="text" name="cost">
      <label for="restaurant_id">Restaurant id:</label>
      <input id="restaurant_id" type="text" name="restaurant_id">
      <label for="order_time">Order time:</label>
      <input id="order_time" type="text" name="order_time">
      <input type="submit" value="Submit">
</form>
</body>