<div class='shopping-cart'>
  <header>
    <h1>Your Cart</h1>
  </header>
  <main class='cart-body'>
    <ul class='cart-list'>
      <li>
        <div class='cart-item' data-dish='id'>
          <span class='dish-name'>Dish 1</span>
          <span class='dish-price'>$10.00</span>
          <button>+</button><span class='dish-quantity'>1</span><button>-</button>
          <button>Remove</button>
        </div>
      </li>
      <li>
        <div class='cart-item' data-dish='id'>
          <span class='dish-name'>Dish 2</span>
          <span class='dish-price'>$8.00</span>
          <button>+</button><span class='dish-quantity'>1</span><button>-</button>
          <button>Remove</button>
        </div>
      </li>
    </ul>
  </main>
  <footer>
    <h5>Total Price:</h5>
    <span class='cart-price'>$10.00</span>
    <button class='cart-submit'>Submit Order</button>
    <button class='cart-clear'>Empty Cart</button>
  </footer>
</div>


