<nav class="navbar navbar-light bg-light">
  <a href="/" class="navbar-brand">
    <img class="logo" src="/images/house-of-noodles.svg" /> -->
    <span id="restaurant-name"><%=name%></span>
  </a>
  <button id='cart-button' class='pull-right btn btn-lg btn-primary'>Cart</button>
</nav>
