main.backend-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width:90%;

  img.dish-photo{
    width:100%;
    display: block;
    margin-bottom: 12px;
  }
  section{
    border:1px solid #EEE;
    border-radius: 6px;
    margin: 1em auto;
    padding: 1em;
  }
  main.dish-edit-panel{

    section {
      cursor: pointer;
      img{
        width:250px;
      }

      label {
        cursor: pointer;
        border-bottom: 1px solid #EEE;
        width: 100%;
        margin-bottom: 1em;

        color:$brand-color;
        .glyph{
          font-size: 1.4em;
          text-align: right;
          display: none;
        }
      }
      &:hover {
        .glyph{
          display: inline;
        }
      }
    }
  }
  h1 {
    width:100%;
    margin-left: 1.5em;
  }

  article.dish {
    width:27%;
    margin: 10px auto;
    position: relative;
    padding-bottom: 50px;

    footer.panel-footer{
      position: absolute;
      bottom:0;
      right:0;
      left:0;
    }
  }
}
