// Nav links for the client backend
section.backend-nav-links{
  float: left;
  a{
    display: inline-block;
    padding:35px 15px;
    margin-right: 10px;
  }
}
#logout-button{
  @extend #cart-button;
}

@media(min-width: 2000px){
  section.backend-nav-links{
    a{
      padding:40px 30px;
    }
  }
}
