body {
  background-color: #EEE;
}

body h1 {
  color: #244751;
}

body .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

body .menu article.card {
  background-color: #FFF;
  border: 1px solid grey;
  border-radius: 5px;
  width: 20%;
  margin: 1em;
  overflow: hidden;
  filter: drop-shadow(0px 4px 3px grey);
}

body .menu article.card .card-text {
  height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
}

body .menu article.card .card-body {
  margin-top: 1.5em;
}

body .menu article.card h4 {
  margin: .7em;
  font-weight: bold;
}

body .menu article.card img {
  width: 100%;
  border-radius: 3px;
}

body .menu article.card p, body .menu article.card input {
  margin: 1em;
}
