<!DOCTYPE html>
<html lang='en'>
  <% include ./partials/_head %>
  <body>
    <% include ./partials/_header %>
    <main class = 'container'>
      <h1>Orders</h1>
      <% for(let order of orders) { %>
        <article class='order panel panel-default'>
          <header class='panel-heading'>
            <h3 class='panel-title'>Order #<%= order.order_id %></h3>
          </header>
          <main class='panel-body'>
            <label>Item</label>
            <ul>
              <% for(let dish of order.dishes) { %>
                <li><%= dish %></li>
              <% } %>
            </ul>
            <label>Phone Number</label>
            <p><%= order.phone_number %></p>
            <h3>Total<h3>
            <p><%= order.cost %></p>
            <button class='btn btn-success'>Finish order</button>
            <button class='btn btn-danger'>Delete order</button>
          </main>
        </article>
      <% } %>
    </main>
    <footer>
    </footer>
  </body>
</html>
