footer {
  margin: 0;
  p{
    color: $brand-color;
    text-align: center;

  }
  ul {
    text-align: center;
    padding: 0;

    li{
      color: $brand-color;
      display: inline;
      padding: 10px;
      margin: 0px;
      justify-content: space-evenly;

    }
  }

}




