body {
  background-color: #EEE;

  h1, h2, h3, h4 {
    color: #337ab7;
  }
  nav{
    background-color: #FFF;
    height:$nav-bar-height;

    #cart-button{
      margin-right: 50px;
      margin-top: 20px;
    }

    img.logo{
      display: inline;
      width:60px;
      height:60px;
    }
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    h1 {
      width:85%;
      align-self: center;
    }
    article.card {
      background-color: #FFF;
      border:1px solid grey;
      border-radius: 5px;
      width: 20%;
      margin: 1em;
      overflow: hidden;

      .card-text {
        height: 70px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      filter: drop-shadow(0px 4px 3px grey);
      .card-body {
        margin-top:1.5em;
      }

      h4 {
        margin: .7em;
        font-weight: bold;
      }

      img {
        width:100%;
        border-radius: 3px;
      }

      p, input {
        margin:1em;
      }
    }
  }
}

.hide{
  display: none;
}
