$brand-color: #337ab7;
$brand-color-light: lighten($brand-color, 10%);
$nav-bar-height: 90px;


@import 'footer';
@import 'layout';
@import 'shopping-cart';
@import 'order-status';
@import 'backend/nav';
@import 'backend/menu-edit';
@import 'backend/login';
